body,
html {
   padding: 0;
   margin: 0;
   height: 100%;
   font-size: 62.5%;
}

body {
   font-family: "Varela Round", Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(26, 25, 25);
   background: #e7dbe4;
   display: flex;
   justify-content: center;
   align-items: center;
}

* {
   box-sizing: border-box;
}

#main-div {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   height: 80vh;
   width: 80vw;
}

#game-heading {
   color: #3d052f;
   font-size: 6.8rem;
   text-align: center;
   font-family: "Fuzzy Bubbles", cursive;
}

.intro,
.start-button {
   font-weight: bold;
}

.intro {
   text-align: center;
   font-size: 2.2rem;
}

.intro-one {
   font-size: 3rem;
}

.you-word {
   color: #b377a6;
}

.comp-word {
   color: #8175ac;
}

.start-button-div,
#selector-buttons-div {
   display: flex;
   justify-content: center;
}

.start-button,
.button-div {
   cursor: pointer;
   border-radius: 10px;
}

.start-button {
   padding: 20px 40px;
   font-size: 1.6rem;
   background-color: #831568;
   border: transparent;
   color: #f5b1e6;
}

.start-button:hover,
.selector-button:hover {
   box-shadow: 0px 0px 7px 5px #da6cbe;
}

.button-div {
   padding: 10px;
}

.selector-button,
#user-play-div,
#comp-play-div {
   flex: 1;
   max-width: 180px;
}

.selector-button {
   background-color: #e4a3d6;
   border: 3px solid #831568;
}

#play-again-button {
   background-color: #29aa50;
   border: 2px solid #1b502b;
}

#play-again-button:hover {
   box-shadow: 0px 0px 7px 5px #69d88a;
}

.selector-img,
.play-img {
   width: 55px;
   height: auto;
   flex: 1;
}

.body-text {
   font-size: 2rem;
   text-align: center;
}

#round-div {
   display: flex;
   flex-direction: column;
}

#plays-div {
   display: flex;
   justify-content: center;
}

#user-play-div,
#comp-play-div,
#result-text-div,
.button-div {
   display: flex;
   align-items: center;
   justify-content: center;
}

#user-play-div,
#comp-play-div {
   max-width: 250px;
   margin: 10px;
   border-radius: 50%;
   padding: 15px;
}

#user-play-div {
   background: #e4a3d6;
}

#comp-play-div {
   background: #b1a3e4;
}

#result-text-div {
   height: 60px;
   font-weight: bold;
}

#round-score-div,
.play-again-div {
   display: flex;
   justify-content: center;
}

#round-score-div {
   text-align: center;
}

.horiz-line {
   border-top: 3px solid #831568;
   width: 200px;
}

.vertical-line {
   border-right: 3px solid #831568;
   margin-top: 15px;
}

#play-again-img {
   height: 40px;
}
